# WordPress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php

# Operating Systems
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# Dependencies
node_modules/
vendor/
composer.lock
package-lock.json

# Environment
.env
.env.local
.env.*.local

# Build files
*.zip
dist/
build/

# Temp files
*.tmp
*.temp
*.bak
*.old
*-legacy.php
